= form_for(@byte, :html => {:class => 'form-inline'}) do |f|
  -if @byte.errors.any?
    .errors
      %h2
        = pluralize(@byte.errors.count, "error")
        prohibited this byte from being saved:
      %ul
        - @byte.errors.full_messages.each do |msg|
          %li= msg

  .input-group.triple-input
    = f.text_field :full_url, :class => 'form-control url-input', :placeholder => 'URL to shorten'
    .input-group-addon.form-arrow
      %span.glyphicon.glyphicon-forward
    = f.text_field :byte, :class => 'form-control', :placeholder => 'Byte'
    %span.input-group-btn
      = f.submit :class => 'btn btn-default pull-right form-control'
