= link_to "<span class='glyphicon glyphicon-plus'></span> New Byte".html_safe, new_byte_path, :class => 'btn btn-default new-byte-button'
%h1 Listing all bytes

%table.table.table-striped
  %thead
    %tr
      %th Byte
      %th Full Url
      %th Click Count
      %th.byte-action Edit
      %th.byte-action Delete

  %tbody
    -@bytes.each do |byte|
      %tr
        %td= link_to byte.byte, byte
        %td= link_to byte.full_url, byte.full_url, :target => '_blank'
        %td= byte.click_count
        %td.byte-action= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_byte_path(byte)
        %td.byte-action= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, byte, method: :delete, data: { confirm: 'Are you sure?' }
%br
