= link_to "<span class='glyphicon glyphicon-chevron-left'></span> Back".html_safe, bytes_path, :class => 'btn btn-default btn-back'

.panel.panel-default
  .panel-heading
    %p.lead= link_to "#{@host}/#{@byte.byte}", "http://#{@host}/#{@byte.byte}", :target => '_blank'
  %table.table
    %thead
      %tr
        %th Byte
        %th Full Url
        %th Click Count
        %th.byte-action Edit
        %th.byte-action Delete
    %tbody
      %tr
        %td= @byte.byte
        %td= link_to @byte.full_url, @byte.full_url, :target => '_blank'
        %td= @byte.click_count
        %td.byte-action= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_byte_path(@byte)
        %td.byte-action= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, @byte, method: :delete, data: { confirm: 'Are you sure?' }

%ul.nav.nav-tabs{:role => "tablist"}
  %li.active{:role => "presentation"}
    %a{:href => "#clicks", :role => "tab", 'data-toggle' => "tab"} Clicks
  %li{:role => "presentation"}
    %a{:href => "#refferes", :role => "tab", 'data-toggle' => "tab"} Referrers
  %li{:role => "presentation"}
    %a{:href => "#devices", :role => "tab", 'data-toggle' => "tab"} Devices
  %li{:role => "presentation"}
    %a{:href => "#locations", :role => "tab", 'data-toggle' => "tab"} Locations

.tab-content
  #clicks.tab-pane.fade.in.active{:role => "tabpanel"}
    #chartdiv
  #refferes.tab-pane.fade{:role => "tabpanel"}
    %table.table
      %thead
        %tr
          %th Count
          %th Domain
      %tbody
        - @byte.click_count_by_domains.each do |clicks|
          %tr
            %td= clicks[1]
            %td= clicks[0]
  #devices.tab-pane.fade{:role => "tabpanel"}
    %table.table
      %thead
        %tr
          %th Count
          %th Device
      %tbody
        - @byte.click_count_by_devices.each do |clicks|
          %tr
            %td= clicks[1]
            %td= clicks[0].capitalize
  #locations.tab-pane.fade{:role => "tabpanel"}
    %table.table
      %thead
        %tr
          %th Count
          %th Location
      %tbody
        - @byte.click_count_by_location.each do |clicks|
          %tr
            %td= clicks[1]
            %td= clicks[0]
    = geo_chart @byte.click_count_by_country

:javascript
  var chart = AmCharts.makeChart("chartdiv", {
          "type": "serial",
          "theme": "light",
          "pathToImages": "http://www.amcharts.com/lib/3/images/",
          "dataDateFormat": "YYYY-MM-DD",
          "valueAxes": [{
              "id":"v1",
              "axisAlpha": 0,
              "position": "left"
          }],
          "graphs": [{
        "id": "g1",
              "bullet": "round",
              "bulletBorderAlpha": 1,
              "bulletColor": "#FFFFFF",
              "bulletSize": 5,
              "hideBulletsCount": 50,
              "lineThickness": 2,
              "title": "red line",
              "useLineColorForBulletBorder": true,
              "valueField": "value"
          }],
          "chartScrollbar": {
        "graph": "g1",
        "scrollbarHeight": 30
      },
          "chartCursor": {
              "cursorPosition": "mouse",
              "pan": true,
               "valueLineEnabled":true,
               "valueLineBalloonEnabled":true
          },
          "categoryField": "date",
          "categoryAxis": {
              "parseDates": true,
              "dashLength": 1,
              "minorGridEnabled": true,
              "position": "top"
          },
          exportConfig:{
            menuRight: '20px',
            menuBottom: '50px',
            menuItems: [{
            icon: 'http://www.amcharts.com/lib/3/images/export.png',
            format: 'png'
            }]
          },
          "dataProvider": #{ @byte.click_count_by_day.map{|k,v| {date: k, value: v}}.to_json }
      }
  );

  chart.addListener("rendered", zoomChart);

  zoomChart();
  function zoomChart(){
      chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
  }
