%p#notice= notice

%p
  %strong Byte:
  = link_to "#{@host}/#{@byte.byte}", "http://#{@host}/#{@byte.byte}", :target => '_blank'

%p
  %strong Full Url:
  = link_to @byte.full_url, @byte.full_url

%p
  %strong Click count:
  = @byte.click_count

= link_to 'Edit', edit_byte_path(@byte) |
= link_to 'Back', bytes_path
